
ul,li{
	list-style: none;
	padding: 0;
	margin: 0;
}

.top_div {
	height: 60px;
	background: #199ed7;
	position: relative;
}

.left_div {
	width: 100px;
	background: #282d3b;
	padding-top: 20px;
}

.left_div ul li {
	color: white;
	height: 26px;
	text-align: center;
	cursor: pointer;
}

.left_div ul li:hover {
	color: #199ed7;
}

.sys_title {
	height: 100%;
	width: 100px;
	position: absolute;
	font-size: 20px;
	line-height: 60px;
	margin-left: 20px;
	color: white;
}

.sys_login_user {
	width: 200px;
	height: 100%;
	right: 30px;
	position: absolute;
}

.span_logout {
	cursor: pointer;
}